

*{
  box-sizing: border-box;
  margin: 0px;
  font-family: system-ui;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
  max-width: 1250px;
  margin: 0 auto;

}


.App{

}
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header{
  border-bottom: 1px solid rgba(73, 73, 73, 0.769);
}

.content{
  gap: 40px;
}


.mainCards{
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}
//Карточка кроссовок
.card{
  padding: 20px 20px;
  width: 210px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  background: #FFF;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover{
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
  img{
    margin: 0 auto;
  }
  p{
    font-size: 14px;
  font-style: normal;
  width: 150px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    border-radius: 30%;
    cursor: pointer;
    
    svg {
      path {
        transition: .3s;
      }
    }

    &:hover svg path {
      fill: rgb(0, 0, 0);
    }
  }
  .content-price{
    flex-direction: column;
  }
  span{
    text-transform: uppercase;
  color: #BDBDBD;
  font-size: 11px;
  }
}

//Поиск
.search-block{
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  input{
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}
.favorite{
  position: absolute;
  cursor: pointer;
}

//затемнение
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

//Правое окно при заказе
.drawer{
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;


  h2{
    margin: 0;
    font-size: 24px;
    img{
      cursor:pointer;
    }
  }
}

//карточка товара в окне
.cartItem{
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  // блок с изображенем
  .cartItemImg{
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p{
    font-size: 14px;
  }
  b{
    font-size: 12px;
  }
  .removeBtn{
    opacity: 0.2;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

//нижнее поисание
.cartTotalBlock{
  ul{
    display: block;
    margin-bottom: 30px !important;
    li{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div{
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed black;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  
  .greenButton{
    position: relative;
    img{
      position: absolute;
      top: 20px;
      right: 30px;
      transition: transform 0.2s ease-in-out;
      
    }
    &:hover{
      img{
        transform: translateX(10px);
      }
    }
  }
}
// Блок со всеми айтемамы в окне
.items{
  flex: 1;
  overflow: auto;
}


//Кнопка зеленая
.greenButton{
  
    width: 100%;
    height: 55px;
    border-radius: 18px;
    background: #9DD458;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background: #56940a;
    }
    &:active{
      background: #73ac2d;
    }
}